/* Adjusted CSS with larger text for labels */

/* Style the root container */
.root {
    -fx-background-color: #070707;
    -fx-padding: 5px; /* Further reduce the padding */
}

.bubble-label {
    -fx-background-color: #333333;
    -fx-font-size: 15px; /* Larger font size */ /* Charcoal color code */
    -fx-text-fill: white; /* Text color */
    -fx-padding: 2px 2px; /* Padding around the text */
    -fx-background-radius: 5px; /* Rounded corners to create a bubble effect */
}

/* Style the button */
.button {
    -fx-background-color: #0A2354;
    -fx-text-fill: #fff;
    -fx-font-size: 12px; /* Smaller font size */
    -fx-padding: 5px 10px; /* Reduce the padding */
    -fx-border-radius: 5px;
}

.button:hover {
    -fx-background-color: #305aa9; /* Hover background color */
}

/* Style the emoji label */
.emoji-label {
    -fx-font-family: "Segoe UI Emoji";
    -fx-font-size: 16px; /* Larger font size */
}
