.bubble-label{
    -fx-background-color: #333333;
    -fx-text-fill: #fff;
    -fx-font-family: "Segoe UI Semilight";
    -fx-font-weight: bold;
    -fx-font-size: 15px; /* Larger font size */ /* Charcoal color code */
    -fx-padding: 2px 2px; /* Padding around the text */
    -fx-background-radius: 5px; /* Rounded corners to create a bubble effect */
}
.emoji-label {
    -fx-font-family: "Segoe UI Emoji";
    -fx-font-size: 16px; /* Larger font size */
}